<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h3>Редактирование связи пользователь-роль</h3>
<br/>
<div class="container">
    <div class="container">
        <form class="form-horizontal" th:object="${userRole}" th:action="@{/update_userrole}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="hidden" id="id" th:name="id" th:value="*{id}"/>
            </div>
            <div class="form-group">
                <label for="users">Пользователь</label>
                <select class="form-control" name="userId" id="appUser">
                    <option th:each="appUser : ${appUsers}"
                            th:value="${appUser.userId}"
                            th:selected="${appUser.userId.equals(userRole.appUser.userId)}"
                            th:text="${appUser.userName}">
                    </option>
                </select>
                <label for="users">Роль</label>
                <select class="form-control" name="roleId" id="appRole">
                    <option th:each="appRole : ${appRoles}"
                            th:value="${appRole.roleId}"
                            th:selected="${appRole.roleId.equals(userRole.appRole.roleId)}"
                            th:text="${appRole.roleName}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>